<ion-card>
  <ion-card-header>
    <h4>Pinned Tokens</h4>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
        <ion-col>
          <img class="circle-pic" src="../../../../assets/shapes.svg" />
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>